<div class="depot_form">
<fieldset style="border-radius: 5px; padding: 5px; border: 5px solid #878db5;">
<legend><%= t('.legend') %></legend>
<%= render 'form', order: @order %>
</fieldset>
</div>

<%= link_to 'Back', orders_path %>
