<html>
<!DOCTYPE html>
<html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="author" content="Susan_Were" />
        <link rel="stylesheet" type="text/css" href="css/application.css" />
       <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
    </head>
<body>
<div class="bg" style="margin:0px, height:100%, width:100%">

<h1 style="color:white">BEAUTY IS POWER, A SMILE IS ITS WORD</h1>
<p><center>Blue beauty parlour is a place where you can escape from the world and cater for your own needs. A place where you can find an amazing peace of mind and get exquisite service, spa treatments, gym services, swimming, play zone for kids, food and refreshments.</p>
<p>We aim to give our clients the best services. We have recently introduced service on delivery whereby we bring our beauty parlour right at the comfort of your home for services under the hair-dressing and beauty department.</p>
<p>We not only advice our clients on skin treatments but also have a skin treatment facility under skin-care professionals.</p>
<p>Our friendly, happy and professional staff are always on their toes to ensure clients receive the best services.</p> 
<p>Have a look around our website to know more about Blue Beauty Parlour</p> 
<p>We hope to see you soon.</p></center>

<h1 style="color:white">MOTTO</h1>
<p><center>Beauty is power.<br> We believe being beautiful is the first step to self-confidence. With a great confidence you are bound to accomplish anything you desire. 
Everything and everyone is beautiful. Our job is to enhance the existing beauty and empower all to achievement</center>


<h1 style="color:white">VISION</h1>
<p><center>Transform the world through enhancing beauty to a place where everyone is empowered to achievement. 
We believe territories are expandable and our goal is to reach out to as many people as we can and give them the magical touch that is found within Blue Beauty Parlour. We aim to be a beauty parlour that empowers.<p></center>


<h1 style="color:white">CONNECT WITH US</h1>
<div id="icons" align="center" style="padding-top:5px, padding:15px">
<a href="Bluey Were
https://www.facebook.com/susan.blue.18"><%= image_tag 'facebook.jpg', alt: 'Facebook',height:'30px', width:'30px' %></a>
<a href="Bluey Were (@blu_ey) • Instagram photos and videos
https://www.instagram.com/blu_ey/"><%= image_tag 'insta.jpg', alt: 'Instagram',height:'30px', width:'30px' %></a >
<a href="https://twitter.com/SuebBlue"><%= image_tag 'twitter.jpg', alt: 'Twitter',height:'30px', width:'30px' %></a>
</div>

</div>
</body>
</html>